.id-card {
    width:250px;
    margin-bottom: 20px; /* Add some space between each user info */
    padding: 10px; /* Add padding inside each user-info div for spacing */
    border: 1px solid #ccc; /* Add a border around each user-info div */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    background: rgb(181,254,255);
    background: radial-gradient(circle, rgba(181,254,255,1) 0%, rgba(175,180,187,1) 100%); 
  }


  